@media only screen and (min-width: 60em) {
    .navigation a {
        text-align: center;
        font-size: larger;
        
    }
    .weather {
        width: 60%;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}