main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

img {
    border: solid black 2px;
    padding: 10px;
    filter: none;
    transition: filter 0.5s;
}

img[data-src] {
    filter: blur(0.2rem);
}