main {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}

table {
    margin: 10px auto;
    border: 0.5px black solid;
    border-collapse: collapse;
    box-shadow: 5px 5px 0.25rem 0.25rem #6F95AD;
}

td, th {
    text-align: center;
    border: 0.7px lightgray solid;
    padding: 0.75rem;
}
/*1st col = #e7f0ed
2nd col = #e7ffed
headings = #628ca6
title and bottom = #7fb9c2



*/
#title, .footer_table {
    background-color: #7fb9c2;
}

#title {
    font-size: 2.5rem;
}

.headings {
    color: white;
    background-color: #628ca6;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

.goal {
    color: white;
    background-color: #628ca6;
}

.italic {
    font-style: italic;
}