@media only screen and (min-width: 860px) {
    .main-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .title_content {
        text-align: center;
        padding-top: 100px;
        font-size: 1.2rem;
        text-shadow:  0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black

    }

    .thatcherLogo {
        position: relative;
        border-radius: 25px;
        float: right;
        width: 100%;
        max-width: 200px;
        padding: 20px;
    }

    .ads {
        display: block;
        width: 184px;
        height: 246px;
    }

    #laad {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        padding-left: 10px;
    }

    #poad {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        justify-self: center;
        padding-left: 10px;
    }

    #rad {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        justify-self: end;
        padding-right: 10px;
        padding-top: 10px;
        align-self: center;
    }

    .mission {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        font-size: 1.3em;
    }

    .vision {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        font-size: 1.3em;
    }
    
    table {
        padding: 20px;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        font-size: 1.2em;
        justify-self: center;
    }

    .temple {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        justify-self: center;
    }
    .weather {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
    }

    .forecast {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 5;
    }

    /* contact page CSS grid ***********/
    .questions {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .let_us {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    .contact_form {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        padding-bottom: 50px;
    }

    .board-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .board-title {
        grid-column-start: 1;
        grid-column-end: 4;
        justify-self: center;
        padding: 20px;
        font-size: 2.5rem;
    }

    .member3 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    /* Directory **********************/
    .directory {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* Join page css grid **************/
    .join {
        grid-column-start: 1;
        grid-column-end: 5;
        font-size: 1.5em;
    }

    .benefits {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 1.2em;
        border-bottom: solid black 5px;
        text-align: left;
    }

    .benefits2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        font-size: 1.2em;
        border-bottom: solid black 5px;
        text-align: left;
    }

    .contact-info {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }

    .business-info {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    


}

@media only screen and (min-width: 1041px) {
    .title_content {
        text-align: center;
        
        padding-left: 12rem;
        padding-right: 20rem;
        
        padding-top: 100px;
        
        font-size: 1.5rem;
        text-shadow:  0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black

    }

    .thatcherLogo {
        position: relative;
        border-radius: 25px;
        float: right;
        width: 100%;
        max-width: 200px;
        padding: 20px;
    }
}