@media only screen and (min-width: 680px) {
    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 5px;
    }

    .title_content {
        text-align: center;
        
        padding-left: 10rem;
        padding-right: 5rem;
        
        padding-top: 100px;
        
        font-size: 1.0em;
            text-shadow:  0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black

    }

    .thatcherLogo {
        position: relative;
        border-radius: 25px;
        float: right;
        width: 100%;
        max-width: 200px;
        padding: 20px;
    }

    .ads {
        display: block;
        width: 184px;
        height: 246px;
    }

    #laad {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 10px;
    }

    #poad {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        padding-left: 10px;
    }

    #rad {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        justify-self: end;
        padding-right: 10px;
        padding-top: 10px;
        align-self: center;
    }

    .mission {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        font-size: 1.3em;
    }

    .vision {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        font-size: 1.3em;
    }
    
    table {
        padding: 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        font-size: 1.1em;
    }

    .temple {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        justify-self: center;
    }
    .weather {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
    }

    .forecast {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
    }
}