body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #3A3335;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}



.hero-image {
    background-image: url("../images/cottonfields.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    padding: 5px;
    position: absolute;
    z-index: 2;
    
}

header {
    position: relative;
}

.title_content {
    text-align: center;
    
    
    padding-right: 1px;
    
    padding-top: 100px;
    
    font-size: 1rem;
    text-shadow:  0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black
}


.thatcherLogo {
    position: relative;
    border-radius: 25px;
    width: 100%;
    max-width: 200px;
    
}

div.join-us {
    font-size: 1.2rem;
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 0.4em 1em;
    border: 4px solid white;
    border-radius: 0.25em;
    margin: 2rem;
    transition: all .2s ease-in-out;
}

div.join-us:hover {
    background-color: #004F2D;
    color: black;
    transform: scale(1.05);
}

div.join-us a {
    text-decoration: none;
    color: white;
}

div.join-us:hover {
    background-color: #004F2D;
    border: 4px solid black;
}

div.join-us:hover a {
    color: white;
}

/* Hamburger menu and nav animations ************************/
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    
}

#menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #009e60;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* hamburger */
#menuToggle span {
    display: block;
    width: 40px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/* hiding the middle one */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* last one goes different direction */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned
at the top left of the screen */
#menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #004F2D;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* slidesin from the left */
#menuToggle input:checked~ul {
    transform: none;
}

/* show and hide the weather summary ***************************/
.showHide {
    overflow: hidden;
    background-color: red;
    color: white;
    padding: 4px;
}

#left {
    overflow: hidden;
    text-align: center;
    
}

#right {
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
}

.showHide a {
    color: white;
    text-decoration: none;
}

.showHide a:hover {
    text-decoration: underline;
}

.ads {
    
    display: none;
}




/* main ***********************************************/

.main-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.temple {
    justify-self: center;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    background-color: #004F2D;
}

/* Footer ********************************************/
.footer-grid {
    text-align: center;
    display: block;
}



.map {
    width: 616px;
    height: 394px;
}