@media only screen and (min-width: 860px) {
    .navigation a {
        text-align: center;
        font-size: larger;
        
    }
    .weather {
        width: 60%;
    }
    div.town-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.town-cards section {
        display: block;
    }
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}